.home-container {
    padding: 1rem;
}

.about-me {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.about-me-image-container {
    flex: 1;
    text-align: center;
}

.about-me-image {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.about-me-content {
    flex: 2;
    font-size: 1rem;
}
.project-card {
    transition: transform 0.3s;
}

.project-card:hover {
    transform: translateY(-5px);
}